<%= form_with(model: feed, local: true) do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :feed_name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :feed_url %>
  </div>

  <div class="field">
    <%= form.label :auto_public %>
    <%= form.check_box :auto_public, id: :feed_auto_public %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tag_list, id: :feed_tags %>
  </div>

  <div class="field">
    <%= form.label :follow_url %>
    <%= form.text_field :follow_url, id: :feed_follow_url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :feed_description %>
  </div>

  <div class="field">
    <%= form.label :default_author %>
    <%= form.text_field :default_author, id: :feed_default_author %>
  </div>

<% if !@categories.nil? %>
  <div class="field">
    <%= form.label :category_ids %>

    <%= form.collection_check_boxes :category_ids, @categories.order(:ordering), :id, :name do |c| %>
      <br>
      <% d = c.object.depth %>
      <% until d <= 0 do %>
      &nbsp;&nbsp;
      <% d = d - 1 %>
      <% end %>
        &nbsp;<%= c.check_box %>
        <%= c.object.name %>     
    <% end %>
  </div>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
