<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>Auto-public:</strong>
  <%= @feed.auto_public %>
</p>


<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @feed.tag_list %>
</p>

<p>
  <strong>Default Author:</strong>
  <%= @feed.default_author %>
</p>

<p>
  <strong>Follow URL:</strong>
  <%= @feed.follow_url %>
</p>


<p>
  <strong>Categories:</strong>
  <%= @feed.category_ids %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
