<section style="background:black;">
      <div class="container height-lg-10">
        <div class="row">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <nav aria-label="breadcrumb">
              <p>
                <% @category.ancestors.each do |top_cat| %>
                  <%= link_to top_cat.name, top_cat %> / 
                <% end %>
              </p>
            </nav>
            <h1 class="display-4 text-white">
              <%= @category.name %> (<%= @category.id %>)
            </h1>
          <!-- <p class="lead mb-0 text-white"></p>-->
          </div>
        </div>
      </div>
</section>

<div class="center">
<% if user_signed_in? %>
  <%= link_to 'New Category', new_category_path, class: "btn btn-primary" %> &bull; 
  <%= link_to 'New Domain', new_domain_path(:category => @category.id), class: "btn btn-secondary" %>
  <br><br>
<% end %>
</div>

<% if user_signed_in? %>
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<br><br>

<% end %>
</div>
