<!DOCTYPE html>
<html>
<head>
  <title>SandHill | New Venture Insights</title>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="hUHSGJmsPyjuqtk19cRACRoho4IcV21nhvgvFAgwzPI" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('sh-fav.png') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

  <% if Rails.env.production? %>
  	<!-- Global site tag (gtag.js) - Google Analytics -->
  	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXXX-X"></script>
  	<script>
    	window.dataLayer = window.dataLayer || [];
    	function gtag(){dataLayer.push(arguments);}
    	gtag('js', new Date());
  	</script>

  	<!-- Hotjar Tracking Code for https://sandhill.io -->
		<script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:2112386,hjsv:6};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>

	<% end %>

</head>

<body>

<!-- Header -->
<%#= render "layouts/header" %>

<!-- Flash Messages -->
<% flash.each do |name, message| %>
<%= content_tag(:div, message, class: "alert alert-info #{name}") %>
<% end %>

<!-- Page Content -->
<%= yield %>

<!-- Footer --> 
<%= render "layouts/footer" %>

</body>
</html>